@{
    ViewBag.Title = "Список пользователей";
}
<h2>Список пользователей</h2>
<br />
<form id="searchForm" action="@Url.Action("List")" method="get">
    <p>
        Поиск: <input id="searchString" name="searchString" type="text" value="">
        <input type="submit" value="Поиск">
         по:
        <select name="searchSelection" size="1">
            <option value="" selected="selected">Имя</option>
            <option value="Login">Логин</option>
            <option value="Position">Должность</option>
            <option value="Role">Роль</option>
        </select>
    </p>
</form>
<div id="listContainer"></div>
@section scripts
{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $("#listContainer").load('@Url.Action("List")'); // Загрузка частичного представления
            // Вывод страниц и сортировка
            $(document).on("click", "#contentPager a[href]", updateContent);
            $(document).on("click", "#contentSorter a[href]", updateContent);
            // Поиск
            $("#searchForm").submit(function (event) {
                event.preventDefault();
                $.ajax({
                    beforeSend: function () {
                        $("#loadingDiv").show();
                    },
                    url: $("#searchForm").attr('action'),
                    data: $("#searchForm").serialize(),
                    type: 'GET',
                    cache: false,
                    success: function (data) {
                        $('#content').html(data);
                    },
                    complete: function () {
                        $("#loadingDiv").hide();
                    }
                });
            });
        });
        function updateContent() {
            $.ajax({
                beforeSend: function () {
                    $("#loadingDiv").show();
                },
                url: $(this).attr("href"),
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#content').html(result);
                },
                complete: function () {
                    $("#loadingDiv").hide();
                }
            });
            return false;
        }
    </script>

}