@{
    ViewBag.Title = "Список пользователей";
}

<h2>Список пользователей</h2>
<br />
<div id="listContainer"></div>

@section scripts
{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $("#listContainer").load('@Url.Action("List")'); // Загрузка частичного представления

            $(document).on("click", "#contentPager a[href]", updateContent);
            $(document).on("click", "#contentSorter a[href]", updateContent);
        });
        function updateContent() {
            $.ajax({
                url: $(this).attr("href"),
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#content').html(result);
                }
            });
            return false;
        }
    </script>

}