<h2 class="text-info text-center">Добро пожаловать!!!</h2>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            window.location.href = "@Url.Action("Index", "Request")";
        }, 2000);
    })
</script>