@{
    ViewBag.Title = "Список Читателей";
}
<div id="listContainer"></div>
@section scripts
{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $("#listContainer").load('@Url.Action("List")'); // Загрузка частичного представления
            // Вывод страниц и сортировка
            $(document).on("click", "#contentPager a[href]", updateContent);
            $(document).on("click", "#contentSorter a[href]", updateContent);
            $(document).on("click", "#contentBooks a[href]", updateContent);            
        });
        function updateContent() {
            $.ajax({
                beforeSend: function () {
                    $("#loadingDiv").show();
                },
                url: $(this).attr("href"),
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#content').html(result);
                },
                complete: function () {
                    $("#loadingDiv").hide();
                }
            });
            return false;
        }
        $(function () {

            $('#accordion').accordion();
        });
    </script>

}