@{
    ViewBag.Title = "Home Page";
}

<div id="listContainer"></div>
 @{if (HttpContext.Current.User.Identity.IsAuthenticated
                                       && !(HttpContext.Current.User.IsInRole("Администратор")) && !(HttpContext.Current.User.IsInRole("Библиотекарь")))
     {
        @section scripts
        {
            

        }
     }
     else
     {
        @section scripts
        {
        <script language="javascript" type="text/javascript">
                $(document).ready(function () {
                    $("#listContainer").load('@Url.Action("Login")'); // Загрузка частичного представления

                    $(document).on("click", "#contentPager a[href]", updateContent);
                    $(document).on("click", "#contentSorter a[href]", updateContent);
                    $(document).on("click", "#contentBooks a[href]", updateContent);
                });
                function updateContent() {
                    $.ajax({
                        beforeSend: function () {
                            $("#loadingDiv").show();
                        },
                        url: $(this).attr("href"),
                        type: 'GET',
                        cache: false,
                        success: function (result) {
                            $('#content').html(result);
                        },
                        complete: function () {
                            $("#loadingDiv").hide();
                        }
                    });
                    return false;
                }
        </script>

        }
     }
}
