@{
    ViewBag.Title = "Home Page";
}

@{if (HttpContext.Current.User.Identity.IsAuthenticated
                                                                                                  && !(HttpContext.Current.User.IsInRole("Администратор"))
                                                                                                  && !(HttpContext.Current.User.IsInRole("Библиотекарь")))
    {

        <div id="listContainer"></div>
        @section scripts
        {
                <script language="javascript" type="text/javascript">
            $(document).ready(function () {
                $("#listContainer").load('@Url.Action("Books")'); // Загрузка частичного представления
                // Вывод страниц и сортировка
            });
            function updateContent() {
                $.ajax({
                    beforeSend: function () {
                        $("#loadingDiv").show();
                    },
                    url: $(this).attr("href"),
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $('#content').html(result);
                    },
                    complete: function () {
                        $("#loadingDiv").hide();
                    }
                });
                return false;
        }
            </script>

        }

    }
    else{
        <h2>Вы должны войти как читатель что бы продолжить!</h2>
       @Html.ActionLink("Войти", "Login", "Account", new { }, new { @class = "btn btn-default" })
    }
}

